.homeContainer {
  margin: auto;
  width: 828px;
}

/* Give Away Css */
.giveAwayContainer {
  /* display: flex; */
  padding-top: 40px;
}
.giveawayTitle {
  font-weight: 600;
}
.giveawayImage {
  /* float: right; */
  width: 428px;
}
